html{
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-color: #fff;
    max-height: 100%;
}

.Navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: moveNav 4s;
    -webkit-animation: moveNav 4s;
}

.Navbar a{
    float: left;
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    animation: moveNavText 4s;
    -webkit-animation: moveNavText 4s;
}

.Navbar a:hover{
    background-color: #fff0c4;
    color: black;
    font-weight: bold;
}

.Navbar a.active{
    background-color: #fff0c4;
    color: black;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

#SlideshowBackground{
    background-color: rgba(112, 128, 144, 0.2);
}

.Background_Image img{
    border-radius: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    opacity: 1;
    filter: grayscale(75%);
}

h1.Image_Text{
    position: relative;
    -webkit-animation: moveImageText 5s;
    animation: moveImageText 5s;
    margin-top: 500px;
    margin-bottom: 700px;
}

@keyframes moveImageText {
    from{
        top: -100vw;
    }
    to{
        top: 0vw;
    }
}

/* Slideshow */
#SlideshowContainer{
    /* Relative sizing of the container for the slideshow
        set to 80% of the viewport width */
    width: 50vw;
    height: auto;
    padding-top: 4%;
    /* Relative sets the container relative to its normal positioning */
    position: relative;
    /* Center container */
    margin: auto;
}

#SlideshowContainer a{
    /* Remove underline under next and previous buttons */
    text-decoration: none;
}

.SlideshowImages{
    /* Centers the images vertically within the slideshow container */
    vertical-align: middle;
    /* The height of the images is automatically adjusted
        based on the content, different images = different sizes */
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
    width: 100%;
}

/* Next and Previous buttons */
.Previous,
.Next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* Width of buttons are automatically adjusted based on content */
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 0 3px 3px 0;
    /* Makes it so that the user cannot highlight the text */
    user-select: none;
    transition: 0.6s ease;
}

/* Position Next button on the right hand side */
.Next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover effect on arrow buttons */
.Previous:hover,
.Next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Slideshow text */
.text{
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 4px;
}

/* Styling of slideshow dots */
.dot{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    /* Allows the dots to sit next to each other */
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/* Hover effect for dots */
.active,
.dot:hover{
    background-color: #ffc414;
}

/* Fading animation for slideshow */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}
    
/* Here using -webkit, we make angle
of 45 degree of falling star */
.sky {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
    
/* Here we are making roundabout balls */
.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 885px;
    background: linear-gradient(-45deg,
        #eef0f5, rgba(0, 0, 255, 0));
    
    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter: drop-shadow(0 0 6px #d7dff0);
    -webkit-animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
}
    
/* Here we add before and after effect to star */
.star::before,
.star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        #eaeef8,
        rgba(0, 0, 255, 0)
    );
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}
.star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}
    
/* adding location of each
nth-child, animations, delays, and
before and after effects to each
and every star */
.star:nth-child(1) {
    top: calc(50% - -119px);
    left: calc(50% - 43px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
    }
    .star:nth-child(1)::before,
    .star:nth-child(1)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
    }
    .star:nth-child(2) {
    top: calc(50% - -43px);
    left: calc(50% - 37px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
    }
    .star:nth-child(2)::before,
    .star:nth-child(2)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
    }
    .star:nth-child(3) {
    top: calc(50% - -40px);
    left: calc(50% - 222px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
    }
    .star:nth-child(3)::before,
    .star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
    }

    
/* generate effect in tail of star */
@keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
    
/* generate shining effect in head of star */
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
    
/* adding webkit-animation
to head of star */
@-webkit-keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
    
/* adding webkit-animation
to tail of star */
@-webkit-keyframes tail {
    0% {
        width: 0;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
    
/* adding webkit-animation
for shooting effect */
@-webkit-keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}
    
/* shooting effect */
@keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(270px);
        transform: translateX(400px);
    }
}

h1{
    font-variant: small-caps;
    font-family: optima;
    text-align: center;
    margin-top: 3%;
    color: #fff0c4;
    transition: transform 1s ease;
    text-shadow: 2px 2px 10px black;
}

h1:hover{
    transform: scale(1.3);
    
}

p{
    font-family: 'luminari', georgia;
    text-align: justify;
    font-size: 1.75vw;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff0c4;
    word-wrap: normal;
}

.center{
    position: relative;
    text-align: center;
    bottom: -1vw;
}

a{
    color: red;
}

/* Universal selector that applies effects to all elements on page */
*{
    box-sizing: border-box;
}

img{
    border-radius: 8px;
    width: 100%;
    height: 400px;
    /* Block display ensures images can be centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Column_1{
    border-top: .5px solid red;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #080808;
    border-radius: 8px;
}

.Column_2{
    border-top: .5px solid red;
    float: left;
    width: 50%;
    height: 400px;
    
}


.Row::after{
    content: "";
    display: table;
    /* Clears any other elements from floating left or right
    of an element */
    clear:both;
}

.firstForm input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: sans-serif;
}

.firstForm input[type=text]:hover{
    box-shadow: 4px 2px 5px maroon inset;
}

.firstForm input[type=submit]{
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.firstForm input[type=submit]:hover{
    background-color: palegoldenrod;
    animation: scale 1s infinite;
}

@keyframes scale {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

form{
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* Flipbox */
.flip-box{
    width: 100%;
    height: 100%;
}

  
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    z-index: -1;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}


.flip-box-back p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    color: white;
}

/* Button to open popup */
.PopupButton{
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 20vw;
    height: 5vw;
    font-weight: bold;
    font-size: 1.75vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side */
@keyframes movePopup{
    from{
        right: -40vw;
    }
    to{
        right: 1.75vw;
    }
}

@-webkit-keyframes movePopup{
    from{
        right: -40vw;
    }
    to{
        right: 1.75vw;
    }
}

/* Popup form */
.form-popup{
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container{
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

.form-container input{
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

/* Popup form submit button */
.submit{
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}



button:hover,
.form-container .btn:hover{
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/* Popup form cancel button */
.cancel{
    position: absolute;
    right: 1.75vw;
    top: 1.75vw;
}

/* Popup form label */
.form-container label{
    color: black;
}

/* Close button */
.form-container .cancel{
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover{
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* Media Query */
/* Media rules for paragraph font size */
@media screen and (max-width: 527px){
    p{
        font-size: 3vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px){
    p{
        font-size: 2.6vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px){
    p{
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px){
    p{
        font-size: 2vw;
    }
}

/* Last update */
@media screen and (min-width: 925px) and (max-width: 1050px){
    p{
        font-size: 1.6vw;
    }
    .star{
        visibility: hidden;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px){
    p{
        font-size: 1.7vw;
    }
}

/* mine */
@media screen and (min-width: 1311px) and (max-width: 1535px){
    p{
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px){
    p{
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px){
    p{
        font-size: 1.35vw;
    }
}

/* Media rule for navbar links */
/* Screens 1080px and smaller will display navbar link equally */
@media screen and (max-width: 1080px){
    .Navbar a{
        width: 20%;
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px){
    .white-text{
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px){
    .Column_1{
        height: 550px;
    }
    .Column_2{
        height: 550px;
    }
    img{
        height: auto;
    }
}

/* Media rule to remove margin-top from h1 elements for extra
    large screens(so that the paragraph text fits in the column */
@media screen and (min-width: 2000px){
    h1{
        margin-top: 0;
    }
}